* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(120deg, #f1f1f1, #e0e0e0);
    padding: 20px;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

header {
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    color: #024336c2;
}

.container {
    width: 520px;
    background: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.formulario {
    display: flex;
    gap: 12px;
    margin-bottom: 30px;
    justify-content: center;
}

/* h1 {
    text-align: center;
    color: #024336;
    margin-bottom: 25px;
} */

input {
    flex: 1;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #035646;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #08a396;
}


#lista-de-tarefas {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-tarefa {
    width: 220px;
    min-height: 100px;
    background: #f9f9f9;
    border-left: 5px solid #054b4b;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card-tarefa p {
    font-size: 16px;
    font-weight: bold;
    color: #054b4b;
    margin-bottom: 8px;
}

.card-tarefa .data {
    font-size: 14px;
    color: #555;
}
