{% extends 'base.html' %}

{% block content %}

<section class="card formulario">
    <form method="POST">

        <div class="campo">
            <label for="titulo-tarefa">Título da tarefa</label>
            <input 
                type="text" 
                name="titulo-tarefa" 
                id="titulo-tarefa"
                value="{{ tarefa_selecionada.titulo_tarefa if tarefa_selecionada else '' }}"
                required
            >
            <small>Use um nome descritivo para a tarefa.</small>
        </div>

        <div class="campo">
            <label for="data-conclusao">Data de conclusão</label>
            <input 
                type="date" 
                name="data-conclusao" 
                id="data-conclusao"
                value="{{ tarefa_selecionada.data_conclusao if tarefa_selecionada else '' }}"
            >
        </div>

        <button type="submit">
            {{ 'Atualizar' if tarefa_selecionada else 'Adicionar' }}
        </button>

    </form>
</section>

<!-- Lista de tarefas -->
<h2>Lista de Tarefas</h2>

{% if tarefas %}
<section id="lista-de-tarefas">

    {% if tarefas %}

        {% for tarefa in tarefas %}

        <div class="card-tarefa {% if tarefa.data_conclusao %}concluida{% endif %}">

            <p class="{% if tarefa.data_conclusao %}titulo-concluido{% endif %}">
                {{ tarefa.titulo_tarefa }}
            </p>

            <span class="data">
        {% if tarefa.data_conclusao %}
            Concluída em: {{ tarefa.data_conclusao[:16] }}
        {% else %}
            Pendente
        {% endif %}
            </span>
            <div class="acoes">

                <a href="{{ url_for('update', idTarefa=tarefa.id_tarefa) }}">Editar</a>

                <a href="{{ url_for('delete', idTarefa=tarefa.id_tarefa) }}">Apagar</a>

                <form action="{{ url_for('alterar_status', id=tarefa.id_tarefa) }}" method="POST" style="display:inline;">
                    <a href="#" onclick="this.closest('form').submit(); return false;">
                        {% if tarefa.data_conclusao %}
                            Reabrir
                        {% else %}
                            Concluir
                        {% endif %}
                    </a>
                </form>

            </div>

        </div>

        {% endfor %}

    {% else %}
        <p>Nenhuma tarefa cadastrada.</p>
    {% endif %}

</section>
{% else %}
<p class="vazio">Nenhuma tarefa cadastrada</p>
{% endif %}

{% endblock %}